In [9]:
import os
import glob
import ast

import pandas as pd

In [10]:
def get_filename(filename):
 return os.path.splitext(os.path.basename(filename))[0]

In [25]:
node_dfs = []

csv_files = glob.glob(
    os.path.join('../gpx/nodes/', '*.csv')
)
for csv_file in csv_files:
    filename = get_filename(csv_file)
    
    df = pd.read_csv(csv_file)
    
    df['filename'] = filename
    df['nodes'] = df['nodes'].apply(ast.literal_eval)
    
    df = df.explode('nodes').reset_index(drop=True)
    df = df.rename(columns={'nodes': 'node_id'})
    
    node_dfs.append(df)

all_node_dfs = pd.concat(node_dfs).reset_index(drop=True)
all_node_dfs.head()

         lat         lon     node_id  distance          filename
0  21.030450  105.851104  6644523700  3.112705  COURSE_239959098
1  21.030450  105.851104   309601293  3.112705  COURSE_239959098
2  21.030450  105.851104  6644523700  3.112705  COURSE_239959098
3  21.030450  105.851104   309601293  3.112705  COURSE_239959098
4  21.030579  105.851061  6644523701  2.024176  COURSE_239959098

In [26]:
all_node_dfs['distance'].describe()

count    11620.000000
mean        58.960563
std        259.838659
min          0.000000
25%          0.774983
50%          2.082945
75%          4.158188
max       2058.323678
Name: distance, dtype: float64

In [30]:
(all_node_dfs['distance'] <= 4).sum()

8548

In [34]:
(all_node_dfs['distance'] > 4).sum()

3072

In [35]:
mask = all_node_dfs['distance'] > 4
all_node_dfs.loc[mask, 'node_id'] = range(1, mask.sum() + 1)
all_node_dfs['fake_node'] = mask

In [37]:
all_node_dfs.head(50)

          lat         lon      node_id  distance          filename  fake_node
0   21.030450  105.851104   6644523700  3.112705  COURSE_239959098      False
1   21.030450  105.851104    309601293  3.112705  COURSE_239959098      False
2   21.030450  105.851104   6644523700  3.112705  COURSE_239959098      False
3   21.030450  105.851104    309601293  3.112705  COURSE_239959098      False
4   21.030579  105.851061   6644523701  2.024176  COURSE_239959098      False
5   21.030579  105.851061    309601293  2.024176  COURSE_239959098      False
6   21.030579  105.851061   6644523701  2.024176  COURSE_239959098      False
7   21.030579  105.851061    309601293  2.024176  COURSE_239959098      False
8   21.031072  105.850933  11336026485  0.633478  COURSE_239959098      False
9   21.031072  105.850933   1497570422  0.633478  COURSE_239959098      False
10  21.031394  105.850976  11336026486  2.182633  COURSE_239959098      False
11  21.031394  105.850976     75617760  2.182633  COURSE_239959098      False
12  21.031694  105.851319  11314900772  3.261254  COURSE_239959098      False
13  21.031694  105.851319  11336019767  3.261254  COURSE_239959098      False
14  21.031888  105.851769   6644554184  0.151867  COURSE_239959098      False
15  21.031888  105.851769   1497570444  0.151867  COURSE_239959098      False
16  21.031952  105.851662   1497570444  0.244612  COURSE_239959098      False
17  21.031952  105.851662   1748253600  0.244612  COURSE_239959098      False
18  21.031984  105.851603   1497570444  0.244612  COURSE_239959098      False
19  21.031984  105.851603   1748253600  0.244612  COURSE_239959098      False
20  21.032081  105.851426            1  4.107206  COURSE_239959098       True
21  21.032081  105.851426            2  4.107206  COURSE_239959098       True
22  21.032295  105.851319   1497570445  0.415819  COURSE_239959098      False
23  21.032295  105.851319     75618721  0.415819  COURSE_239959098      False
24  21.032445  105.851319    969250589  0.633478  COURSE_239959098      False
25  21.032445  105.851319   6644455600  0.633478  COURSE_239959098      False
26  21.032982  105.851169    969250589  0.760625  COURSE_239959098      False
27  21.032982  105.851169  11817792742  0.760625  COURSE_239959098      False
28  21.032982  105.851169    969250589  0.760625  COURSE_239959098      False
29  21.032982  105.851169  11817792742  0.760625  COURSE_239959098      False
30  21.034076  105.850675    969250589  0.235549  COURSE_239959098      False
31  21.034076  105.850675     81795094  0.235549  COURSE_239959098      False
32  21.034613  105.850375   6045788911  0.000000  COURSE_239959098      False
33  21.034613  105.850375   6668103977  0.000000  COURSE_239959098      False
34  21.035278  105.850031   6668103977  1.460390  COURSE_239959098      False
35  21.035278  105.850031     81795093  1.460390  COURSE_239959098      False
36  21.036351  105.849667   6668103970  1.654663  COURSE_239959098      False
37  21.036351  105.849667   6668103976  1.654663  COURSE_239959098      False
38  21.036351  105.849667   6668103970  1.654663  COURSE_239959098      False
39  21.036351  105.849667   6668103976  1.654663  COURSE_239959098      False
40  21.036887  105.849452   6668090144  0.103955  COURSE_239959098      False
41  21.036887  105.849452     84784225  0.103955  COURSE_239959098      False
42  21.037531  105.849152  11804234601  0.799898  COURSE_239959098      False
43  21.037531  105.849152    610740401  0.799898  COURSE_239959098      False
44  21.038175  105.848701   6579567132  1.752890  COURSE_239959098      False
45  21.038175  105.848701    317968564  1.752890  COURSE_239959098      False
46  21.038239  105.848637   6579567132  0.391842  COURSE_239959098      False
47  21.038239  105.848637    317968564  0.391842  COURSE_239959098      False
48  21.039162  105.848165  11674586287  0.733836  COURSE_239959098      False
49  21.039162  105.848165   2499827589  0.733836  COURSE_239959098      False